bin/
obj/
**/bin/
**/obj/
.DS_Store
**/.DS_Store
.vs/
.idea/
*.user
.env
**/memory-ai.connection.json
**/memory-ai.connection.json.tmp
**/memory-db.connection.json
**/memory-db.connection.json.tmp
**/memory-tools.connection.json
**/memory-tools.connection.json.tmp
